@namespace Vibe.UI.Components
@inherits Vibe.UI.Base.VibeComponent

<div class="@CombinedClass" role="document" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    /// <summary>
    /// Gets or sets the content to be displayed within the dialog.
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <inheritdoc/>
    protected override string ComponentClass => "vibe-dialog-content";
}
