@namespace Vibe.UI.Components
@inherits Vibe.UI.Base.VibeComponent

<div class="@CombinedClass" role="tabpanel" id="@($"tabpanel-{Id}")" aria-labelledby="@($"tab-{Id}")" tabindex="0"
    @attributes="AdditionalAttributes" style="display: @(IsActive ? "block" : "none")">
    @ChildContent
</div>

@code {
    /// <summary>
    /// Gets or sets the tab content
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    /// <summary>
    /// Gets or sets the tab id
    /// </summary>
    [Parameter]
    public string Id { get; set; }

    /// <summary>
    /// Gets or sets the tab header
    /// </summary>
    [Parameter]
    public string Header { get; set; }

    /// <summary>
    /// Gets or sets whether the tab is disabled
    /// </summary>
    [Parameter]
    public bool Disabled { get; set; }

    /// <summary>
    /// Gets or sets whether the tab is active
    /// </summary>
    [Parameter]
    public bool IsActive { get; set; }

    /// <summary>
    /// Gets or sets the tab header icon
    /// </summary>
    [Parameter]
    public string Icon { get; set; }

    /// <inheritdoc/>
    protected override string ComponentClass => "vibe-tab-item";

    /// <summary>
    /// Called when component parameters are set
    /// </summary>
    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (string.IsNullOrEmpty(Id))
        {
            Id = Guid.NewGuid().ToString("N");
        }
    }
}