/* AspectRatio Component Styles */

.vibe-aspect-ratio {
    position: relative;
    width: 100%;
}

.vibe-aspect-ratio .aspect-ratio-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.vibe-aspect-ratio .aspect-ratio-content > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
