/* Separator Component Styles */

.vibe-separator {
    flex-shrink: 0;
    background-color: var(--vibe-border);
}

.vibe-separator.separator-horizontal {
    width: 100%;
    height: 1px;
    margin: 1rem 0;
}

.vibe-separator.separator-vertical {
    height: 100%;
    width: 1px;
    margin: 0 1rem;
}
