@namespace Vibe.UI.Components
@inherits Base.VibeComponent

<label class="@CombinedClass @(Disabled ? "disabled" : string.Empty)">
    <input type="checkbox" class="switch-input" checked="@Checked" @onchange="OnToggleChanged" disabled="@Disabled"
        @attributes="AdditionalAttributes" />
    <span class="switch-thumb"></span>
</label>

@code {
    /// <summary>
    /// Gets or sets whether the switch is checked.
    /// </summary>
    [Parameter]
    public bool Checked { get; set; }

    /// <summary>
    /// Gets or sets whether the switch is disabled.
    /// </summary>
    [Parameter]
    public bool Disabled { get; set; }

    /// <summary>
    /// Gets or sets the callback for when the switch value changes.
    /// </summary>
    [Parameter]
    public EventCallback<bool> CheckedChanged { get; set; }

    /// <summary>
    /// Gets the component CSS class name.
    /// </summary>
    protected override string ComponentClass => "vibe-switch";

    /// <summary>
    /// Handles the toggle of the switch.
    /// </summary>
    private Task OnToggleChanged(ChangeEventArgs e)
    {
        if (Disabled)
            return Task.CompletedTask;

        Checked = (bool)e.Value;
        return CheckedChanged.InvokeAsync(Checked);
    }
}